//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/home/marin/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/home/marin/.local/share/rofi/themes/minimal.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/home/marin/.local/share/rofi/themes/nord-oneline.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
@theme "~/.config/rofi/minimal.rasi"
